<div class="container">
  <br>
  <br>
  <div class="col-md-4 product-index-box" *ngIf="item">
    <div class="single-product d-flex flex-column h-100">
        <div class="product-info">
          <div class="price">{{item.description}}</div>
        </div>
        <p>Posted On - {{item.createdAt | date}}</p>
        <p>Author - {{item.user.name}}</p>
    </div>
  </div>

  <div class="row col-md-6 product-index-box" *ngIf="item">
      <div>
        <figure class="disable"><img width="70px" alt="user Image" src="{{item.user.image}}">
        </figure>
      </div>
      <div>
        <div class="in">
          <h2 class="card-user disable"> {{item.user.name}} </h2>
        </div>
      </div>
      <div>
        <div class="actions">
          <button type="button" [disabled]="item.user._id==user._id" (click)="followUser(item.user._id)" class="{{isFollows ? 'btn btn-success' : 'btn btn-secondary'}}">{{isFollows ? 'UnFollow': 'Follow'}}</button>
        </div>
      </div>
    </div>
</div>
