<div id="logreg-forms">
  <form [formGroup]="form" (ngSubmit)="addPost()" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Add Post</h1>
    <input type="text"  class="form-control" placeholder="title" formControlName="title">
    <span class="error" *ngIf="!form.controls['title'].valid && form.controls['title']?.touched"> Please enter the title</span>

    <textarea class="form-control" formControlName="description" rows="3"></textarea>
    <span class="error" *ngIf="!form.controls['description'].valid && form.controls['description']?.touched">Please enter description</span>
    <br>
    <button class="btn btn-primary btn-block" [disabled]="!form.valid" type="submit"><i class="fas fa-user-plus"></i>Save</button>
  </form>
</div>
