<div class="container">


  <hr class="gradient-style" />

  <!-- Latest products slider -->
  <div class="container mb-4 mt-4">
    <!--Carousel Wrapper-->
    <div id="products-carousel" class="carousel slide carousel-multi-item" data-ride="carousel">
      <!--Controls-->
      <div class="controls-top mb-2">
        <div class="row">
          <div class="col-12">
            <h3 style="text-align: center;">Products</h3>
            <br>
            <br>
          </div>
        </div>
      </div>
      <!--/.Controls-->

      <!--Slides-->
      <div class="carousel-inner" role="listbox">
        <!--First slide-->
        <div class="carousel-item active">
          <div class="row" *ngIf="items.length">
            <div class="col-md-4 product-index-box" *ngFor="let item of items">
              <div class="single-product d-flex flex-column h-100">
                <a class="title-link" href="/post/details/{{item._id}}">{{item.title}}
                  <div class="product-info">
                    <div class="price">{{item.description}}</div>
                  </div>
                  <p>Posted On - {{item.createdAt | date}}</p>
                  <p>Author - {{item.user.name}}</p>
                </a>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="!items.length">
            <div class="col-md-4 center product-index-box">
              <div>
                No Items Available
              </div>
            </div>
          </div>
        </div>
        <!--/.First slide-->
      </div>
      <!--/.Slides-->
    </div>
    <!--/.Carousel Wrapper-->
  </div>

</div>
